		/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*reset*/

* {
	/*outline: 1px solid #f00;*/
	color: #B5A875;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

p {
	line-height: 25px;
	font-size: 14px;
}

h1 {
	font-size: 28px;
	color: #ddd;
}

body {
	font-family: 'Titillium Web', sans-serif;
	background-image: url(asset/asset03.png);
	background-repeat: repeat;
		background-attachment: fixed;
}

.banner {
	width: 100%;
	height: 60vh;
	background-image: url('asset/asset18.png');
	background-size: cover;
	background-position: center center;
	margin-top: 50px;
	position: relative;
}

.banner h1 {
	width: 400px;
	height: 120px;
	background-image: url('asset/asset03.png');
	color: #ddd;
	font-size: 52px;
	position: absolute;
	text-align: center;
	line-height: 120px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-shadow: -3px 3px 0 #B5A875,
				 -2px 2px 0 #B5A875,
				 -1px 1px 0 #B5A875;
}

.banner h1:before {
	content: '';
	display: block;
	width: 364px;
	height: 91px;
	border: 1px solid #B5A875;
	position: absolute;
	top: 14px;
	left: 16px;
}

.banner h1:after {
	content: '';
	display: block;
	width: 346px;
	height: 106px;
	border: 1px solid #B5A875;
	position: absolute;
	top: 7px;
	left: 25px;
}

nav {
	width: 100%;
	background-color: #152032;;
	position: fixed;
	top: 0;
	z-index: 100;
}

nav img {
	width: 200px;
	position: absolute;
	top: 5px;
	left: 50px;
}

nav ul {
	width: 960px;
	margin: auto;
	font-size: 0;
	text-align: center;
}

nav li {
	display: inline-block;
	margin: 25px;
	font-size: 14px;
}
nav a {
	transition: .5s;
		border-bottom: 1px solid transparent;
}

nav a:hover {
	color: #ddd;
	border-bottom: 1px solid #ddd;
}

#now {
	border-bottom: 1px solid #B5A875;
	font-weight: 700;
}

#book01 {
	border: 1px solid #857C5B;
	padding: 5px;
	transition: .5s;
}

#book01:hover {
	border: 1px solid #ddd;
}

/*banner結束*/

.section1 {
	width: 960px;
	margin: auto;
	padding-top: 80px;
	font-size: 0;
}

.section1 > h1 {
	font-size: 52px;
	text-align: center;
	color: #ddd;
	padding-bottom: 80px;
	text-shadow: -3px 3px 0 #B5A875,
				 -2px 2px 0 #B5A875,
				 -1px 1px 0 #B5A875;
}

.sec1_left, .sec1_right {
	display: inline-block;
	width: 50%;
	/*height: 500px;*/
	vertical-align: middle;
}

.sec1_left img {
	width: 430px;
}

.sec1_right h2 {
	font-size: 18px;
	padding-bottom: 60px;
} 

.sec1_right h2:after {
	content: '';
	display: block;
	width: 50px;
	height: 2px;
	background-color: #857C5B;
	position: relative;
	top: 30px;
}

.sec1_right h3 {
	font-size: 24px;
	color: #ddd;
	padding-bottom: 60px;
	position: relative;
	left: -30px;
}

.sec1_right h3:after {
	content: '';
	display: block;
	width: 50px;
	height: 2px;
	background-color: #857C5B;
	position: relative;
	top: 30px;
	left: 30px;
}


/*section1結束*/

.section2 {
	width: 960px;
	margin: auto;
	font-size: 0;
	padding-top: 100px;
	padding-bottom: 100px;
}

.section2 h1 {
	font-size: 52px;
	color: #ddd;
	text-align: center;
	text-shadow: -3px 3px 0 #B5A875,
				 -2px 2px 0 #B5A875,
				 -1px 1px 0 #B5A875;
}

.man {
	display: inline-block;
	width: 320px;
	padding: 30px;
	vertical-align: top;
	position: relative;
}

.man h2 {
	font-size: 18px;
	color: #ddd;
	padding-top: 20px;
}

.man img {
	width: 100%;
	height: 290px;
	padding-top: 30px;
}

.man h3 {
	font-size: 14px;
	padding-top: 30px;
}

.man p {
	font-size: 14px;
	padding-top: 20px;
}

.man1 h2:before, .man2 h2:before, .man3 h2:before {
	content: '';
	display: block;
	width: 283px;
	height: 296px;
	border: 1px solid #857C5B;
	position: absolute;
	top: 78px;
	left: 17px;
}

.man1 h2:after, .man2 h2:after, .man3 h2:after {
	content: '';
	display: block;
	width: 303px;
	height: 276px;
	border: 1px solid #857C5B;
	position: absolute;
	top: 88px;
	left: 8px;
}

/*section2結束*/

footer {
	width: 960px;
	margin: auto;
	font-size: 0;
	padding: 20px;
	box-sizing: border-box;
}

.foot_left, .foot_logo, .foot_right {
	display: inline-block;
	vertical-align: middle;
	width: 33%;
	font-size: 12px;
	padding: 5px;
}

.foot_left {
	padding-left: 60px;
}

.foot_left li {
	display: inline-block;
	margin: 5px;
}

.foot_logo img {
	width: 100%;
}

.foot_logo h4 {
	text-align: center;
}